<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{../js/mainLivro.js}" src="../static/js/mainLivro.js"></script>
    <link rel="stylesheet" type="text/css" href="/styleForm.css"/>
</head>
<body>

    <div class="container">
        <div class="card">
            <div class="card-block">

                <div th:if="${verifyEdit}">
                    <!-- Edit Error Alert -->
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Erro!</strong> Livro não pôde ser editado.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

                <br>
                <h1 class="text-xl-center font-weight-bold">LIVROS</h1>
                <br>

                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">NOME</th>
                            <th class="text-center">EDITORA</th>
                            <th class="text-center">NÚMERO DE AUTORES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="livro :${data.content}">
                            <td th:text="${livro.id}"></td>
                            <td class="text-truncate" style="max-width: 200px;" th:text="${livro.nome}"></td>
                            <td th:text="${livro.editora.nome}"></td>
                            <td th:text="${livro.autores.size()}"></td>
                            <td>
                                <a th:href="@{'/app/detalhesLivro/' + ${livro.id}}" class="btn btn-success detBtn">Detalhes</a>
                                <a th:href="@{findOneLivro/(id=${livro.id})}" class="btn btn-primary eBtn">Edit</a>
                                <a th:href="@{deleteLivro/(id=${livro.id})}" class="btn btn-danger delBtn">Delete</a>     
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr/>
                <div class="col text-center">
                    <a th:href="@{/}" method="post" class="btn btn-danger rBtn" role="button">Return</a>
                    <button class="btn btn-success nBtn">New</button>
                </div>
                <div th:if="${data.totalPages == 0}">
                    <div class="text font-weight-bold">PAGES</div>
                    <ul class="nav nav-pills">
                        <li class="nav-item" th:each="i : ${#numbers.sequence(0,data.totalPages)}">
                            <a th:href="@{/app/livros(page=${i})}" th:text="${i}" class="nav-link"
                            th:classappend="${currentPage}==${i}?'active':''"></a>
                        </li>
                    </ul>
                </div>
                <div th:unless="${data.totalPages == 0}">
                    <div class="text font-weight-bold">PAGES</div>
                    <ul class="nav nav-pills">
                        <li class="nav-item" th:each="i : ${#numbers.sequence(0,data.totalPages-1)}">
                            <a th:href="@{/app/livros(page=${i})}" th:text="${i}" class="nav-link"
                            th:classappend="${currentPage}==${i}?'active':''"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="editForm">
            <form th:action="@{/app/salvarLivro}" method="post">
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Update</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="id" class="col-form-label">ID:</label>
                                <input type="text" class="form-control" id="id" name="id" value="" readonly />
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-form-label">Nome:</label>
                                <input type="text" class="form-control" id="nome" name="nome" value="" required/>
                            </div>
                            <div class="form-group">
                                <label for="editora" class="col-form-label">Editora:</label>
                                <select th:field="${livro.editora}" required>
                                    <option value="">Escolha a Editora</option>
                                    <option th:each="editora : ${editoras}"
                                                th:value="${editora.id}"
                                                th:text="${editora.nome}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save" />
                        </div>
                    </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="newForm">
            <form th:action="@{/app/salvarLivro}" method="post">
                <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="newModalLabel">Create</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="nome" class="col-form-label">Nome:</label>
                                <input type="text" class="form-control" id="nome" name="nome" value="" required/>
                            </div>
                            <div class="form-group">
                                <label for="editora" class="col-form-label">Editora:</label>
                                <br>
                                <select th:field="${livro.editora}" required>
                                    <option value="">Escolha a Editora</option>
                                    <option th:each="editora : ${editoras}"
                                                th:value="${editora.id}"
                                                th:text="${editora.nome}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save" />
                        </div>
                    </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger">
                        Are you sure you want to delete this Book?
                    </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <a href="" class="btn btn-danger" id="delRef">Delete</a>
                </div>
              </div>
            </div>
        </div>
    </div>
    
</body>
</html>