<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{../js/mainBarbearia.js}" src="../static/js/mainBarbearia.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styleTemplate.css"/>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-block">
                
                <div th:if="${verifyEdit}">
                    <!-- Edit Error Alert -->
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Erro!</strong> Barbearia não pôde ser cadastrada/editada.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

                <div th:if="${verifyNew2}">
                    <!-- New Error Alert -->
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Erro!</strong> Horários inconsistentes.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

                <div th:if="${verifyDelete}">
                    <!-- Delete Error Alert -->
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Erro!</strong> Barbearia não pôde ser deletada! Barbearia possuí funcionários/clientes/serviços/agendamentos.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

                <br>
                <h1 class="text-xl-center font-weight-bold">BARBEARIA</h1>
                <br>

                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">NOME</th>
                            <th class="text-center">ENDEREÇO</th>
                            <th class="text-center">TELEFONE</th>
                            <th class="text-center">ABRE</th>
                            <th class="text-center">FECHA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="barbearia :${data.content}">
                            <td th:text="${barbearia.id}"></td>
                            <td class="text-truncate" style="max-width: 200px;" th:text="${barbearia.nome}"></td>
                            <td class="text-truncate" style="max-width: 250px;" th:text="${barbearia.endereco}"></td>
                            <td th:text="${barbearia.telefone}"></td>
                            <td th:text="${barbearia.hAbre} + ' h'"></td>
                            <td th:text="${barbearia.hFecha} + ' h'"></td>
                            <td>
                                <a th:href="@{'/app/detalhesBarbearia/' + ${barbearia.id}}" class="btn btn-success detBtn">Detalhes</a>
                                <a th:href="@{findOneBarbearia/(id=${barbearia.id})}" class="btn btn-primary eBtn">Editar</a>    
                                <a th:href="@{deleteBarbearia/(id=${barbearia.id})}" class="btn btn-danger delBtn">Deletar</a>    
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr/>
                <div class="col text-center">
                    <div th:unless="${verifyNew}">
                        <a th:href="@{/}" method="post" class="btn btn-danger rBtn" role="button">Voltar</a>
                    </div>
                    <div th:if="${verifyNew}">
                        <a th:href="@{/}" method="post" class="btn btn-danger rBtn" role="button">Voltar</a>
                        <button class="btn btn-success nBtn">Novo</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="editForm">
            <form th:action="@{/app/salvarBarbearia}" method="post">
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Editar Cadastro</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="id" class="col-form-label">ID:</label>
                                <input type="text" class="form-control" id="id" name="id" value="" readonly />
                            </div>
                            <div class="form-group">
                                <label for="nome" class="col-form-label">Nome:</label>
                                <input type="text" class="form-control" id="nome" name="nome" value="" required/>
                            </div>
                            <div class="form-group">
                                <label for="endereco" class="col-form-label">Endereço:</label>
                                <input type="text" class="form-control" id="endereco" name="endereco" value="" required/>
                            </div>
                            <div class="form-group">
                                <label for="telefone" class="col-form-label">Telefone (DDI) (DDD) xxxx-xxxx:</label>
                                <input type="text" class="form-control" id="telefone" name="telefone" value="" required/>
                            </div>
                            <div class="form-group">
                                <label for="hAbre" class="col-form-label">Horário que abre:</label>
                                <input type="time" class="form-control" id="hAbre" name="hAbre" value="" />
                            </div>
                            <div class="form-group">
                                <label for="hFecha" class="col-form-label">Horário que fecha:</label>
                                <input type="time" class="form-control" id="hFecha" name="hFecha" value="" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save" />
                        </div>
                    </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="newForm">
            <form th:action="@{/app/salvarBarbearia}" method="post">
                <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="newModalLabel">Cadastro</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="nome" class="col-form-label">Nome:</label>
                                <input type="text" class="form-control" id="nome" name="nome" value="" required/>
                            </div>
                            <div class="form-group">
                                <label for="endereco" class="col-form-label">Endereço:</label>
                                <input type="text" class="form-control" id="endereco" name="endereco" value="" required/>
                            </div>
                            <div class="form-group">
                                <label for="telefone" class="col-form-label">Telefone (DDI) (DDD) xxxx-xxxx:</label>
                                <input type="text" class="form-control" id="telefone" name="telefone" value="" required/>
                            </div>
                            <div class="form-group">
                                <label for="hAbre" class="col-form-label">Horário que abre:</label>
                                <input type="time" class="form-control" id="hAbre" name="hAbre" value="" required/>
                            </div>
                            <div class="form-group">
                                <label for="hFecha" class="col-form-label">Horário que fecha:</label>
                                <input type="time" class="form-control" id="hFecha" name="hFecha" value="" required/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save" />
                        </div>
                    </div>
                    </div>
                </div>

            </form>
        </div>


        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Deletar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger">
                        Deseja deletar essa barbearia?
                    </p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="" class="btn btn-danger" id="delRef">Deletar</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>