<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products By Price Below View</title>
</head>
<body>
    <h1>Products By Price Below View</h1>
    <!-- IF THERE ARE PRODUCTS PRICED BELOW-->
    <div th:unless="${#lists.isEmpty(prods)}">
        <table>
            <tr th:each="prod: ${prods}">
                <td th:text="${prod.id}" />
                <td th:text="${prod.name}" />
                <td th:text="${prod.price}" />
                <td th:text="${prod.stock}" />
            </tr>
        </table>
    </div>
    <!-- ELSE -->
    <div th:if="${#lists.isEmpty(prods)}">
        <div>WARNING: NO PRODUCT PRICED BELOW!</div>
    </div>      
</body>
</html>